$cts-deep-dark:#222222;
$cts-all-white:#ffffff;
$cts-light-grey:#f4f4f4;
$cts-light-dark:#999999;
$cts-narrow-grey:#f7f7f7;
$cts-middle-grey:#666666;
$cts-soso-grey:#ececec;
$cts-mute-grey:#cccccc;

$cts-main-brown:#DA9976;
$cts-light-golden:#f0cb8d;
$cts-dark-golden:#daac5f;
$cts-darken-golden:#dfc2a0;
$cts-deep-dark-golden:#bca387;
$cts-dark-brown:#333333;
$cts-alert-red:#fe344a;

$cts-gradient-barely-golden:#fcfbf5;
$cts-gradient-light-golden:#ffefcc;
$cts-gradient-dark-golden:#f8dda9;
$cts-gradient-font:#cd7131;

$cts-gradient-barely-red:#ffebeb;
$cts-gradient-fade-red:#ffb0b0;
$cts-gradient-light-red:#FF8E8E;
$cts-gradient-dark-red:#FF6363;

$cts-new-narrow-brown:#5c534e;
$cts-new-deep-brown:#4a4542;

$cts-platform-jd:#ff4343;
$cts-platform-pdd:#ff6738;
$cts-platform-wph:#fa2a83;